.header {
    color: contrast($background-color-light, $text-color-light, $text-color-dark);
    align-items: stretch;
    justify-content: space-between;
    padding: 0 10px;
    display: flex;
    background-color: $background-color-light;
    position: fixed;
    height: $header-height;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid $border-color;

    .quick-search {
        flex-grow: 1;
        max-width: 600px;

        .input .input-wrap {
            align-self: center;
            flex-grow: 1;
            margin-bottom: 0;
        }
    }

    .logo {
        cursor: pointer;
    }

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        padding-left: 5px;

        .button {
            padding: 0 5px;
        }
    }

    .user {
        align-self: stretch;
        display: flex;
        align-items: center;
        cursor: pointer;

        .button {
            margin-right: 10px;
        }
    }

    .menu-bar {
        padding-right: 25px;
    }

    &-placeholder {
        display: block;
        height: $header-height;
        width: 1px;
    }
}
