.view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    > .content {
        display: flex;
        width: 90vw;
        padding: 35px;
        max-width: 1500px;

        > * {
            width: 100%;
            flex-grow: 1;
        }
    }

    > .footer {
        width: 100%;
        text-align: center;
        padding: 20px;
        border-top: 1px solid $border-color;

        > .content {
            color: rgba(contrast($border-color, $text-color-light, $text-color-dark), .3);

            .icons .fa {
                padding: 0 10px;
            }

            > .text {
                font-size: .8em;
            }

            a {
                color: inherit;
            }
        }
    }
}

.fullscreen-video {
    filter: blur(5px);
    z-index: -1;
    position: absolute;
    width: 110vw;
    height: 110vh;
    object-fit: cover;
}

.fill-page {
    width: 100vw;
    height: 100vh;

    &.ignore-position {
        position: absolute;
        z-index: 9999;
        left: 0;
        top: 0;
        pointer-events: none;
    }
}

.padded {
    padding: 20px;

    &-large {
        padding: 35px;
    }

    &-vertical {
        padding: 20px 0;

        &-large {
            padding: 35px 0;
        }
    }

    &-horizontal {
        padding: 0 20px;

        &-large {
            padding: 0 35px;
        }
    }

    &-bottom {
        padding-bottom: 20px;

        &-large {
            padding-bottom: 35px;
        }
    }

    &-top {
        padding-top: 20px;

        &-large {
            padding-top: 35px;
        }
    }
}

.hidden-blocking {
    opacity: 0;
}

.relative {
    position: relative;
}
