.button {
	.contrast-color(@gray);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: 0;
	padding: 10px 15px;
	background-color: @gray;
	color: @contrast-value;
	display: inline-block;
	cursor: pointer;
	border-radius: @roundness;
	// .material-shadow(2);

	.loader {
		height: 1em;
		align-items: center;

		span {
			background-color: @background-color;
		}
	}

	&.circle {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		min-height: 40px;
		border-radius: 50%;
	}

	&.floating {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}

	&.w100 {
		text-align: center;
	}

	&:hover {
		background-color: darken(@gray, 5%);
		z-index: 1;
		// .material-shadow(3);
	}

	&.primary {
		.contrast-color(@primary-color);
		background-color: @primary-color;
		color: @contrast-value;

		&:hover {
			background-color: darken(@primary-color, 5%);
		}
	}

	&.secondary {
		.contrast-color (@secondary-color);
		background-color: @secondary-color;
		color: @contrast-value;

		&:hover {
			background-color: darken(@secondary-color, 5%);
		}
	}

	&.google {
		background-color: #2196F3;
		color: #F5F5F5;

		&:hover {
			background-color: darken(#2196F3, 5%);
		}
	}

	&.alternative {
		background-color: transparent;
		border: 1px solid @primary-color;
		color: @primary-color;

		&:hover {
			background-color: rgba(0, 0, 0, .05);
		}
	}

	&.error {
		.contrast-color (@notification-error);
		background-color: @notification-error;
		color: @contrast-value;

		&:hover {
			background-color: darken(@notification-error, 5%);
		}
	}

	&.success {
		.contrast-color(@notification-success);
		background-color: @notification-success;
		color: @contrast-value;

		&:hover {
			background-color: darken(@notification-success, 5%);
		}
	}
}
