@width: 50px;

.loader {
	position: relative;
	margin: 0 auto;
	width: @width;

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
	&.large {
		&:extend(.loader all);
		width: @width * 1.5;
	}

	&.small {
		&:extend(.loader all);
		width: @width / 2;
	}
}

.circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-width: 5;
	stroke: @primary-color;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;

	&.light {
		stroke: @text-color-light;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
