$button-default-height: 36px;

$button-colors:(
    default: $gray,
    primary: $primary-color,
    secondary: $secondary-color,
    alternative: $alternative-color,
    error: $notification-error
);

.button {
    text-transform: uppercase;
    height: $button-default-height;
    transition: .1s;
    border: 0;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: $roundness;
    @include main-font('medium');
    letter-spacing: .09em;
    text-decoration: none;

    .button-content {
        display: flex;
        align-items: center;
    }

    img.profile-picture {
        height: $button-default-height * .8;
        width: auto;
        border-radius: 50%;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }

    &.icon {
        text-transform: lowercase;
        border-radius: 50%;
        width: $button-default-height;
        height: $button-default-height;
        box-shadow: none;
        letter-spacing: 0;
    }

    &.rounded {
        border-radius: 25px;
    }

    &.circle {
        padding: 0;
        margin: 0;
        width: $button-default-height * 1.2;
        height: $button-default-height * 1.2;
        border-radius: 50%;

        &.small {
            width: $button-default-height * .8;
            height: $button-default-height * .8;
        }
    }

    &.text, &.border, &.icon{
        background-color: transparent;
    }

    &.small {
        height: $button-default-height * .8;
        padding: 0 12px;
        font-size: $font-size*.85;
    }

    i.fa {
        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }

    .loader {
        position: absolute;
        height: 1em;
        align-items: center;

        span {
            background-color: $background-color;
        }
    }
}

@each $key,$val in $button-colors {
    .button-#{$key} {
        background-color: $val;
        color: contrast($val, $text-color-light, $text-color-dark);
        @include material-shadow(1);

        &:hover {
            background-color: darken($val, 5%);
            @include material-shadow(2);
        }

        .loader {
            span {
                background-color: contrast($val, $text-color-light, $primary-color);
            }
        }

        &.text, &.icon {
            box-shadow: none;
            color: $val;
        }

        &.border {
            box-shadow: none;
            color: $val;
            border: 1px solid $val;
        }

        &.text, &.border, &.icon {
            &:hover {
                background-color: rgba($val, .05);
            }

            .loader {
                span {
                    background-color: contrast($background-color, $text-color-light, $primary-color);
                }
            }
        }
    }
}
