$input-background-color: $background-color-light;
$input-placeholder-color: rgba(contrast($background-color-light), .6);

.input {
    .input-wrap {
        display: flex;
        align-items: stretch;
        justify-content: center;
        position: relative;
        flex-direction: column;
    }

    &.error {
        input, textarea {
            border-color: $notification-error;
        }

        .label {
            color: $notification-error;
        }
    }

    .error-message {
        font-size: 10px;
        margin: 0;
        padding: 3px;
        color: $notification-error;
    }

    .label, .placeholder {
        transform-origin: left;
        pointer-events: none;
        color: $input-placeholder-color;
        transition: .2s;
        position: absolute;
        display: block;
        top: 17px;
        left: 15px;
    }

    .placeholder {
        top: auto;
    }

    input, textarea, .select-field {
        vertical-align: middle;
        padding: 15px;
        transition: .2s;
        width: 100%;
        background-color: $input-background-color;
        border: 2px solid $border-color;
        color: contrast($input-background-color);
        outline: none;
        resize: none;
        border-radius: $roundness;
        @include main-font();

        &:focus {
            border-color: contrast($background-color);
        }
    }

    &.rounded input {
        border-radius: 45px;
    }

    &.has-icon {
        input, textarea {
            padding-left: 2.5em;
        }

        .label, .placeholder {
            left: 35px;
        }

        .fa {
            color: $input-placeholder-color;
            position: absolute;
            left: 15px;
        }
    }

    &.has-icon .label + i + input,
    &.has-icon .label + i + textarea {
        padding: 20px 15px 10px 2.5em;
    }

    .label + input,
    .label + textarea {
        padding: 20px 15px 10px 15px;
    }

    &.active {
        .label {
            color: $primary-color;
            font-size: .75em;
            top: .6em;
        }
        .placeholder {
            display: none;
        }
    }

    &.small {
        input, textarea {
            padding: 10px;
        }

        &.has-icon {
            input, textarea {
                padding-left: 2.5em;
            }
        }
    }

    &.large {
        input, textarea, .label, .fa {
            font-size: 1.5em;
        }

        &.has-icon {
            input, textarea {
                padding-left: 2.5em
            }

            .fa {
                left: 20px;
            }
        }
    }
}


.field-auto-complete, .select-dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 4px;
    border-radius: $roundness;
    @include material-shadow(2);
    background-color: $background-color-light;

    li {
        padding: 10px;
        cursor: pointer;

        &:not(:first-child) {
            border-top: 1px solid $border-color;
        }

        &:hover {
            background-color: contrast($background-color-light, $gray-dark-even-more, $gray-light-even-more);
        }

        &.more {
            background-color: contrast($background-color-light, $gray-dark-even-more, $gray-light-even-more);
        }
    }
}

.markdown-text {
    padding-bottom: 8px;
}

.select-field {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
