$size: 60px;
$spacing: $size/4;

.logo {
    font-size: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $size;
    margin: $spacing;

    .icon {
        height: $size;
        width: auto;

        .icon-layer {
            fill: $primary-color;
        }
    }

    .text {
        font-weight: 600;
        padding: $spacing;
        font-size: .6em;
    }

    &.small {
        font-size: $size/2;
        height: $size/2;
        margin: $spacing/2;

        .icon {
            height: $size/2;
        }

        .text {
            padding: $spacing/2;
        }
    }

    &.large {
        font-size: $size*2;
        height: $size*2;
        margin: $spacing*2;

        .icon {
            height: $size*2;
        }

        .text {
            padding: $spacing*2;
        }
    }
}
