.question-row {
    position: relative;
    $text-color: contrast($background-color-light);
    transition: .2s;
    color: $text-color;
    border: 1px solid $border-color;

    + .question-row {
        border-top: none;
    }

    &:hover {
        background-color: rgba(contrast($background-color-light, $gray-dark-even-more, $gray-light-even-more), .3);
    }

    > .content {
        padding: 14px 14px 14px 0;
        display: flex;
        flex-grow: 1;
        overflow: hidden;

        .utils {
            display: flex;
            padding: 0 20px;

            .votes {
                font-size: 1em;
            }

            .votes-text {
                font-size: .8em;
            }

            .accepted {
                font-size: 1em;
                padding-top: 10px;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .title {
                cursor: pointer;
                font-size: 1em;
                padding-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex-grow: 1;
                color: $secondary-color;

                &:hover {
                    color: darken($secondary-color, 10%);
                }
            }

            .footer {
                display: flex;
                justify-content: space-between;

                .user {
                    color: contrast($background-color-light, $gray-light, $gray-dark);
                    font-size: .8em;

                    .username {
                        @include main-font('bold', 1em);
                    }
                }
            }
        }
    }


    &.small {
        border: none;

        &:hover {
            background-color: transparent;
        }

        > .content {
            padding: 0;

            .body {
                .title {
                    padding: 0 10px 5px 10px;
                }
                .tags {
                    padding: 0 10px 10px 10px;

                    .tag {
                        padding: 2px;
                        font-size: .55em;
                    }
                }
            }
        }
    }
}
