.tags {
    display: flex;
    align-items: center;
}

.tag {
    cursor: pointer;
    background-color: $primary-color;
    padding: 4px;
    margin-right: 2px;
    border-radius: $roundness;
    color: contrast($primary-color);
    align-items: center;
    justify-content: center;
    font-size: .7em;

    &.alternative {
        background-color: $gray;
        opacity: .6;
        font-style: italic;
    }

    .remove {
        margin-left: 2px;
        padding: 3px;
        cursor: pointer;
    }
}


.popular-tags {
    .tags {
        flex-flow: wrap;

        .tag {
            margin-bottom: 2px;
        }
    }
}
