.tooltip-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .tooltip {
        font-size: $font-size * .8;
        pointer-events: none;
        position: absolute;
        margin-top: 10px;
        top: 100%;
        padding: 5px;
        border-radius: $roundness;
        background-color: $gray-dark-even-more;
        color: $text-color-light;
        max-width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        animation-name: pop;
        animation-duration: .12s;
    }
}
