$picture-size: 40px;

.question-post {
    background-color: $background-color-light;
    border-radius: $roundness;
    display: flex;
    margin-bottom: 20px;
    color: contrast( $background-color-light);
    border: 1px solid $border-color;
    @include material-shadow(1);

    .post-sidebar {
        color: contrast($background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .vote {
            cursor: pointer;
            font-size: 2em;
            color: rgba(contrast($background-color), 20%);

            &:hover {
                color: contrast($background-color);
            }

            &-disabled {
                font-size: 2em;
                color: rgba($gray-light-more, 90%);
            }
        }

        .accepted {
            color: $notification-success;
        }

        .unaccepted {
            cursor: pointer;
            color: $gray-light-more;

            &:hover {
                color: $gray-light;
            }
        }
    }

    .picture img {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: $picture-size;
        width: $picture-size;
        margin-right: 15px;
    }

    .post-body {
        word-break: break-word;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 20px;
    }

    .post-footer {
        color: contrast($background-color);
        align-items: center;
        line-height: 1.5em;
        font-size: .8em;
        padding: 0 20px 20px 20px;

        .button-group {
            align-self: flex-end;
        }
    }

    .trophy, .certificate {
        margin-bottom: 10px;
    }
}

.answer {
    &.accepted {
        @include material-shadow(2);
        background-color: rgba(0, 0, 0, .05);
    }
}
.answer-form {
    .input-wrap {
        margin-bottom: 20px;
    }
}
