span.coins {
	color: @text-color-dark;
	font-weight: 700;

	.fa {
		color: #FBC02D;
	}
}

.relative {
	position: relative;
}


.form {
	flex-grow: 1;
}

.info-square {
	padding: 20px;
	background-color: @notification-warning;
	max-width: 300px;
	color: .contrast-color (@notification-info)[@value];
}

.graph {
	height: 300px;
	width: 500px;
}


.user-space {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid @primary-color;
}
