@primary-color: #EC407A;
@secondary-color: #1E88E5;
@alternative-color: #FF5722;

@gradient-one: #ee0290;
@gradient-two: #FF5722;

@background-color: #F5F5F5;
// @background-color: #263238;

@text-color-dark: #424242;
@text-color-light: #FAFAFA;

@card-background-color: lighten(@background-color, 5%);
@menu-bar-color: @background-color;

@gray-light-more: #E0E0E0;
@gray-light: #BDBDBD;
@gray: #9E9E9E;
@gray-dark: #757575;
@gray-dark-more: #424242;

@notification-error: #EF5350;
@notification-success: #4CAF50;
@notification-warning: #FFF59D;
@notification-info: #90CAF9;

@default-font: 'Lato', sans-serif;
@font-size: 14px;

@menu-bar-width: 250px;
@header-height: 60px;

@roundness: 4px;
