// @background-color: #424242;
@background-color: #FAFAFA;
@primary-color: #de0065;
@secondary-color: #512DA8;

@text-color-dark: #212121;
@text-color-light: #FAFAFA;

@card-background-color: #FAFAFA;
@menu-bar-color: darken(@background-color, 5%);

@gray-light-more: #E0E0E0;
@gray-light: #BDBDBD;
@gray: #9E9E9E;
@gray-dark: #757575;
@gray-dark-more: #424242;

@notification-error: #EF5350;
@notification-success: #4CAF50;
@notification-warning: #FFF59D;
@notification-info: #90CAF9;

@default-font: 'Lato', sans-serif;
@font-size: 14px;

@menu-bar-width: 250px;
@user-bar-height: 72px;

@roundness: 4px;
