$primary-color: #EC407A;
$secondary-color: #1E88E5;
$alternative-color: #FF5722;

$gradient-one: #ee0290;
$gradient-two: #FF5722;

$background-color: #F5F5F5;
// $background-color: #263238;

$background-color-light:lighten($background-color, 5%);

$text-color-dark: #424242;
$text-color-light: #FAFAFA;

$gray-light-even-more: #EEEEEE;
$gray-light-more: #E0E0E0;
$gray-light: #BDBDBD;
$gray: #9E9E9E;
$gray-dark: #757575;
$gray-dark-more: #424242;
$gray-dark-even-more: #212121;


$border-color: contrast($background-color-light, $gray-dark-more, $gray-light-more);

$notification-error: #EF5350;
$notification-success: #4CAF50;
$notification-warning: #FFF59D;
$notification-info: #90CAF9;

$font-size: 14px;
$header-height: 64px;
$roundness: 4px;

$break-small: 768px;
$break-large: 992px;
